<!DOCTYPE html>
<html>
<head>
<style> 
 h1 {text-align:center;
     font-family:Arial;
     font-weight:900;}
     
 p {text-align:center;}
 
 span {text-align:center;
       font-family:Arial;
       font-weight:600;}
</style>
</head>
    <body>
        <h1>Medicine</h1>
        <p>
            <span style=>
                Medicine is an application developed by members 
            </span>
        </p>
        <p>
            <span>
                of student research group 
            </span>
        </p>
        <p>
            <span>
                AGH-TechMed. 
            </span>
        </p>
        <p>
            <span>
                The main purpose of application is to help increase 
            </span>
        </p>
        <p>
            <span>
                the decision making process in specific fields
            </span>
        </p>
        <p>
            <span>
                of medicine with the help of artificial inteligence algorithms.
            </span>
            </p>
        <p>
            <span>
                Choose classification problem:
            </span>
        </p>
            <p>
                <br/>
            </p>
    </body>
</html>